<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mengzhu.sdk.demo">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RedPacketHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendRedPacketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditWhiteUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckFCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateWhiteUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateWhiteListActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".CreateFCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestUploadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HalfPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity
            android:name=".TestDownloadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PusherActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestPushActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>